.board {
  background: #d3d3d3;
  display: inline-block;
}

.board-row-4 {
  margin-left: 26px;
}

.board-row-3 {
  margin-left: 52;
}

.board-row-2 {
  margin-left: 78px;
}

.board-row-1 {
  margin-left: 104px;
}

.unused-hex {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 2px;
  line-height: 50px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 2px;
  line-height: 50px;
  vertical-align: top;
  box-sizing: border-box;
}

.empty {
  background: #808080;
}

.black {
  background: #000;
  color: #fff;
}

.white {
  background: #fff;
  color: #000;
}

.has-dvonn {
  border: 3px solid #f00;
}

.full-dvonn {
  background: #f00;
}

.move {
  background: #0f0;
}

.current-move {
  background: #f00;
}

.black-move {
  color: #fff;
}

.white-move {
  color: #000;
}
